<div class="fav" style="background-color:lightcyan;padding: 1rem">
	<form action="{% url 'fav' %}" method="POST">
		{% csrf_token %}
		<input type="hidden" name="content_id" value="{{ content.pk }}">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
		{% if content.hasFav %}
			<i class="fa fa-heart" aria-hidden="true"></i>Undo Favorite
		{% else %}
			<i class="fa fa-heart" aria-hidden="true"></i>Save to Favorites
		{% endif %}
		</button>
		<br>
		Saved {{ content.favCount }} times.
	</form>
	<a href="{% url 'voteUp' content.pk %}"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
	</a>
	{{ content.voteCount }}
	<a href="{% url 'voteDown' content.pk %}"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
</div>
