<div class="fav" style="background-color:lightcyan; padding: 1rem">
    <p>Give your feedback!</p>
	<form action="{% url 'fav' %}" method="POST">
		{% csrf_token %}
		<input type="hidden" name="content_id" value="{{ content.pk }}">
		{% if content.hasFav %}
            <button class="btn btn-success my-2 my-sm-0" type="submit">
			    <i class="fa fa-heart" aria-hidden="true"></i> Favorite {{ content.favCount }}
            </button>
		{% else %}
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
			    <i class="fa fa-heart" aria-hidden="true"></i> Favorite {{ content.favCount }}
            </button>
		{% endif %}

        <a href="{% url 'voteUp' content.pk %}" class="btn btn-outline-success my-2 my-sm-0">
            <i class="fa fa-thumbs-up" aria-hidden="true"></i> UpVote {{ content.voteCount }}
        </a>

        <!--
        <a href="{% url 'voteDown' content.pk %}" class="btn btn-outline-success my-2 my-sm-0">
            <i class="fa fa-thumbs-down" aria-hidden="true"></i> DownVote
        </a>
        -->

		<br>
	</form>
</div>
