<html lang="en">

<head>
    <title>{% block title %}CookIt{% endblock %}</title>
    <meta charset="utf-8">
    {% load static %}
    {# <link rel="icon" href="{% static 'images/favicon.ico' %}"> #}
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {# <script src="{% static "js/recipes/comment.js" %}"></script> #}
    {% block extra_head %}{% endblock %}
</head>

<body>
    <div class="container">
        <div class="row">
            <nav class="col-sm-3 col-md-2 bg-light sidebar">
                <ul class="nav nav-pills flex-column">
                    {% if not request.user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% endif %}
                </ul>
            </nav>
            <div class="col-sm-9 col-md-10 ml-sm-auto" id="main">
                <h1 style="text-align: center;">CookIt</h1>
                {% block navbar %}{% endblock %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
    {% block footer %}{% endblock %}
</html>
