{% for content in contents %}

<div class="card" id="content_{{ content.pk }}" style="width: 20rem;">
  <div class="card-header">
      {% include 'recipes/picture_and_name.html' with bloguser=content.user.bloguser %}
  </div>
  <div class="card-body">
    <!-- <h4 class="card-title">Card title</h4> -->
    <!-- <h6 class="card-subtitle mb-2 text-muted"> Card </h6> -->
    <p class="card-text"> content.text </p>
    <p class="card-text"><small class="text-muted"> {{ content.created }} </small></p>
    <!-- <a href="#" class="card-link">Card link</a> -->
    <a href="#"> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> </a>
  </div>
</div>

{% endfor %}
