<nav class="navbar navbar-light bg-faded">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link {% if active == 'home' %} active {% endif %}" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if active == 'myRecipes' %} active {% endif %}" href="{% url 'myRecipes' %}">My Recipes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if active == 'register' %} active {% endif %}" href="{% url 'register' %}">Register</a>
        </li>
        <li class="nav-item">
            {% if not user.is_anonymous %}
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="nav-link {% if active == 'login' %} active {% endif %}" href="{% url 'login' %}">Login</a>
            {% endif %}
        </li>
    </ul>
</nav>
