{% extends 'recipes/base.html' %}

{% block title %}Register{% endblock %}

{% block navbar %}{% include 'recipes/navbar.html' with active='register' %}{% endblock %}

{% block content %}
    <h1 style="text-align: center;">CookIt</h1>
    <div class="card card-register">
        <div class="card-block">
            {% if errors %} {{ errors }} {% endif %}
            <form method="post" action="">
                {{ form.email.label_tag }}
                {{ form.email }}
                {{ form.username.label_tag }}
                {{ form.username }}
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        {{ form.firstName.label_tag }}
                        {{ form.firstName }}
                    </div>
                    <div class="col-xs-6 col-md-6">
                        {{ form.lastName.label_tag }}
                        {{ form.lastName }}
                    </div>
                </div>
                {{ form.password.label_tag }}
                {{ form.password }}
                {{ form.passwordConfirm.label_tag }}
                {{ form.passwordConfirm }}
                <div class="text-right">
                    <br>
                    <button id="Register" class="btn btn-primary" tpye="submit" value="Submit">Register</button>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}
