{% extends 'recipes/base.html' %}
{% load staticfiles %}

{% block title %}Stream{% endblock %}

{% block navbar %}{% include 'recipes/navbar.html' with active=page %}{% endblock %}

{% block content %}
{% if errors %} {{ errors }} {% endif %}
<div class="row">
    <div class="card post-recipe" style="width: 30rem;">
        <div class="card-body">

            <form method="post" action="{% url 'addContent' %}">
                <div class="instructions-hide"><h5>Title:</h5></div>
                <textarea maxlength="10000" type="text" name="title" class="form-control post-recipe post-recipe-hide" style="height: 2em" placeholder="Name your recipe"></textarea>
                <div class="instructions-hide"><h5>Ingredients:</h5></div>
                <textarea maxlength="10000" type="text" name="ingredients" class="form-control post-recipe post-recipe-hide" placeholder="What's your ingredients"></textarea>
                <div class="instructions-hide"><h5>Steps:</h5></div>

                <div class="form-group">
                    <label>Show off your work!</label>
                    <input type="file" class="form-control-file" name="img" accept="image/*">
                </div>
                Cook in
                <select name="minute" class="form-control form-control-sm">
                  <option value="10">10 minutes!</option>
                  <option value="20">20 minutes!</option>
                  <option value="30">30 minutes!</option>
                  <option value="40">40 minutes!</option>
                  <option value="50">50 minutes!</option>
                  <option value="60">60 minutes or more!</option>
                </select>

                {% if user.is_anonymous %}
                    <textarea maxlength="10000" type="text" name="text" class="form-control post-recipe post-recipe-trigger" placeholder="Sign up to share your recipe!"></textarea>
                {% else %}
                    <textarea maxlength="10000" type="text" name="text" class="form-control post-recipe post-recipe-trigger" placeholder="Share your recipe!"></textarea>
                {% endif %}

                <div class="text-right">
                    <br>

                    {% if user.is_anonymous %}

                        <a href="/recipes/register" id="Post" class="btn btn-primary post-recipe" role="button">Sign Up and Post</a>

                    {% else %}

                        <button id="Post" class="btn btn-primary post-recipe" type="submit" value="Submit">Post</button>

                    {% endif %}

                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>

    <div class="card-deck mt-lg-3">
    <div id="content-items">
        {% include 'recipes/content.html' %}
    </div>
    </div>
</div>
{% endblock %}
