{% extends 'recipes/base.html' %}
{% load staticfiles %}

{% block title %}Stream{% endblock %}

{% block navbar %}{% include 'recipes/navbar.html' with active=page %}{% endblock %}

{% block content %}
{% if errors %} {{ errors }} {% endif %}
<div class="row">
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            {% include 'recipes/picture_and_name.html' %}
            <form method="post" action="{% url 'addContent' %}">
                <textarea maxlength="1000" type="text" name="text" class="form-control" placeholder="Share your recipe!"></textarea>
                <div class="text-right">
                    <br>
                    {% if user.is_anonymous %}
                        <a href="/recipes/register" id="Post" class="btn btn-primary" role="button">Sign Up and Post</a>
                    {% else %}
                        <button id="Post" class="btn btn-primary" type="submit" value="Submit">Post</button>
                    {% endif %}
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>

    <div class="card-deck mt-lg-3">
    <div id="content-items">
        {% include 'recipes/content.html' %}
    </div>
    </div>
</div>
{% endblock %}
