{% extends 'recipes/base.html' %}
{% load staticfiles %}

{% block title %}Stream{% endblock %}

{% block navbar %}{% include 'recipes/navbar.html' with active=page %}{% endblock %}

{% block content %}
{% if errors %} {{ errors }} {% endif %}
<div class="row">
    <div class="card post-recipe" style="width: 30rem;">
        <div class="card-body">
            <form method="post" action="{% url 'addContent' %}">
                <textarea maxlength="10000" type="text" name="text" class="form-control post-recipe" placeholder="Share your recipe!"></textarea>
                <div class="text-right">
                    <br>

                    {% if user.is_anonymous %}

                        <a href="/recipes/register" id="Post" class="btn btn-primary" role="button">Sign Up and Post</a>

                    {% else %}

                        <button id="Post" class="btn btn-primary post-recipe" type="submit" value="Submit">Post</button>

                    {% endif %}

                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>

    <div class="card-deck mt-lg-3">
    <div id="content-items">
        {% include 'recipes/content.html' %}
    </div>
    </div>
</div>
{% endblock %}
